<div class="beer-partial">
  <a href="/beers"><img src="{{this.image_url}}" alt="poster for {{this.name}}"></a>
  <div class="beer-details">
    <h3>{{this.name}} ({{this.year}})</h3>
    <p>Description: {{this.description}}</p>
    <p>Tagline: {{this.tagline}}</p>
   </div>
</div>

<!--Display an image, name, description and tagline.-->